@import url("equity.css");

html, body, #splash, #splash-content {
    background-color: #FFFFFF;
    height: 100%;
}

.btn-round-lg{
    border-radius: 22.5px;
}

h2 {
    font-size: 30px;
}

#spokentext {
    font-family: "equity-text";
    font-style: italic;
    font-size: 30px;
    word-wrap: break-word;
    background-color: #ecf0f1;
}

.quote {
    padding-top: 20px;
}

.text {
    font-family: "equity-text";
}

#splash {
    margin: 0 auto;
    display: table;
}

#splash-content {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}

.center {
    text-align: center;
}
