body {
    background-color: black;
    background-image: url("../img/shiva.jpg");
    background-repeat: no-repeat;
    background-size: auto 130%;
    background-position: center top;
    background-attachment: fixed;
    font-family: monospace;
    font-size: 20px;
}

.wrapper {
    text-align: center;
}

.splash {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: 10%;
    margin-right: 50%;
    width: 500px;
    border: 1px solid #000;
    background:rgba(255,255,255,0.5);
}
